<h2>Liste des Produits</h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom du Produit</th>
            <th>Type de Produit</th>
            <th>Date de Creation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: pageSize, currentPage: p}">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.typeProduct.name}}</td>
            <td>{{product.createdDate }}</td>
            <td><button type="button" class="btn btn-warning" (click)="updateProduct(product)" routerLink="/product/update">Modifier</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


<button type="button" class="btn btn-primary" routerLink="/product">Ajouter</button>
<br><br>
<button type="button" class="btn btn-info" routerLink="/productType">Ajouter type</button>

